<div class="jumbotron text-center">
  <div class="container">
    <h2>Create a new account</h2>

    <form (submit)="onSubmitRegister()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" [(ngModel)]="email"
        name="email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" [(ngModel)]="password"
        name="password">
      </div>
      <input type="submit" value="Create new account" class="btn btn-primary btn-block">
    </form>

  </div>
</div>
